# DAV Experiment-1

In [2]:
import pandas as pd

In [3]:
# Load dataset
df = pd.read_csv("emp.csv")

In [6]:
# Display first few rows
df.head()

   Emp_ID   Name   Age      Sal  Experience     Dept Joining_Date  Per_score
0   101.0   John  25.0  50000.0         2.0       IT    6/15/2019       85.0
1   102.0  Alice  30.0  60000.0         5.0       HR    4/22/2018       90.0
2   103.0    Bob  35.0      NaN        10.0  Finance    7/11/2015       78.0
3   104.0    Eve  28.0  55000.0         4.0       IT     1/5/2020       88.0
4   105.0   Mike  40.0  75000.0        12.0  Finance    9/18/2010       92.0

In [5]:
# View the last 5 rows
df.tail()

    Emp_ID      Name   Age      Sal  Experience Dept Joining_Date  Per_score
43     NaN       NaN   NaN      NaN         NaN  NaN          NaN        NaN
44   145.0     Logan  27.0  53000.0         3.0   IT    6/17/2020       84.0
45   145.0     Logan  27.0  53000.0         3.0   IT    6/17/2020       84.0
46   137.0  Victoria  33.0  64000.0         8.0   HR    4/30/2017       87.0
47   138.0    Joseph  28.0  56000.0         4.0   IT    9/23/2019       86.0

In [7]:
# Get a summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Emp_ID        46 non-null     float64
 1   Name          46 non-null     object
 2   Age           43 non-null     float64
 3   Sal           41 non-null     float64
 4   Experience    45 non-null     float64
 5   Dept          44 non-null     object
 6   Joining_Date  46 non-null     object
 7   Per_score     44 non-null     float64
dtypes: float64(5), object(3)
memory usage: 3.1+ KB

In [8]:
# Get basic statistical details for numeric columns
df.describe()

           Emp_ID        Age           Sal  Experience  Per_score
count   46.000000  43.000000     41.000000   45.000000  44.000000
mean   123.217391  33.488372  64658.536585    8.400000  88.272727
std     13.039961   7.102555  11791.119023    5.487175   4.667371
min    101.000000  23.000000  48000.000000    1.000000  78.000000
25%    112.250000  28.000000  55000.000000    4.000000  85.000000
50%    123.500000  32.000000  63000.000000    8.000000  88.000000
75%    134.750000  38.000000  72000.000000   12.000000  91.250000
max    145.000000  50.000000  90000.000000   20.000000  97.000000

In [9]:
# List all column names
df.columns

Index(['Emp_ID', 'Name', 'Age', 'Sal', 'Experience', 'Dept', 'Joining_Date',
       'Per_score'],
      dtype='object')

In [10]:
# Get the shape of the DataFrame (rows, columns)
df.shape

(48, 8)

In [11]:
# check the data type of each column
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Emp_ID        46 non-null     float64
 1   Name          46 non-null     object
 2   Age           43 non-null     float64
 3   Sal           41 non-null     float64
 4   Experience    45 non-null     float64
 5   Dept          44 non-null     object
 6   Joining_Date  46 non-null     object
 7   Per_score     44 non-null     float64
dtypes: float64(5), object(3)
memory usage: 3.1+ KB
None

In [13]:
# Check for Missing Values
print(df.isnull().sum())

Emp_ID          2
Name            2
Age             5
Sal             7
Experience      3
Dept            4
Joining_Date    2
Per_score       4
dtype: int64

In [14]:
# Check for duplicate value
df.duplicated().any()
df[df.duplicated()]
df.duplicated().sum()
# Donâ€™t use it. Drop rows with any missing values
df.dropna()

,Emp_ID,Name,Age,Sal,Experience,Dept,Joining_Date,Per_score
0,101.0,John,25.0,50000.0,2.0,IT,6/15/2019,85.0
1,102.0,Alice,30.0,60000.0,5.0,HR,4/22/2018,90.0
3,104.0,Eve,28.0,55000.0,4.0,IT,1/5/2020,88.0
4,105.0,Mike,40.0,75000.0,12.0,Finance,9/18/2010,92.0
6,107.0,David,32.0,62000.0,7.0,Marketing,8/30/2017,89.0
8,109.0,Tom,45.0,80000.0,15.0,Finance,5/27/2008,95.0
9,110.0,Linda,31.0,61000.0,6.0,Marketing,11/3/2016,87.0
11,112.0,Emma,33.0,64000.0,8.0,HR,6/29/2017,90.0
12,113.0,James,50.0,90000.0,20.0,Finance,10/1/2005,97.0
13,114.0,Olivia,23.0,48000.0,1.0,Marketing,5/9/2023,80.0
14,115.0,Robert,36.0,70000.0,10.0,IT,12/12/2014,91.0
16,117.0,Grace,29.0,52000.0,4.0,HR,7/14/2021,86.0
18,119.0,Sophia,26.0,50000.0,2.0,Marketing,8/9/2022,84.0
19,120.0,Liam,41.0,82000.0,16.0,Finance,10/15/2009,96.0
20,121.0,Isabella,32.0,60000.0,6.0,HR,1/19/2016,88.0
21,122.0,Jack,27.0,55000.0,3.0,IT,11/11/2020,85.0
22,123.0,Mia,35.0,72000.0,10.0,Marketing,4/25/2014,90.0
23,124.0,Daniel,44.0,81000.0,18.0,Finance,6/3/2007,94.0
24,125.0,Charlotte,28.0,54000.0,4.0,HR,2/27/2019,83.0
25,126.0,Ethan,39.0,75000.0,13.0,IT,9/30/2011,92.0
26,127.0,Amelia,30.0,58000.0,5.0,Marketing,12/7/2018,87.0
28,129.0,Harper,25.0,49000.0,2.0,HR,5/16/2022,81.0
29,130.0,Andrew,37.0,71000.0,11.0,IT,11/12/2013,89.0
31,132.0,Joshua,42.0,79000.0,15.0,Finance,3/22/2008,93.0
32,133.0,Avery,29.0,52000.0,3.0,HR,6/9/2021,85.0
33,134.0,Christopher,34.0,67000.0,9.0,IT,9/18/2013,90.0
35,136.0,Anthony,40.0,76000.0,14.0,Finance,2/4/2010,94.0
36,137.0,Victoria,33.0,64000.0,8.0,HR,4/30/2017,87.0
37,138.0,Joseph,28.0,56000.0,4.0,IT,9/23/2019,86.0
38,139.0,Abigail,36.0,70000.0,12.0,Marketing,12/19/2012,89.0
39,140.0,Samuel,47.0,88000.0,19.0,Finance,11/8/2005,96.0
44,145.0,Logan,27.0,53000.0,3.0,IT,6/17/2020,84.0
45,145.0,Logan,27.0,53000.0,3.0,IT,6/17/2020,84.0
46,137.0,Victoria,33.0,64000.0,8.0,HR,4/30/2017,87.0
47,138.0,Joseph,28.0,56000.0,4.0,IT,9/23/2019,86.0

In [17]:
# Fill missing values
df['Sal'].fillna(df['Sal'].mean()) # Mean for salary
df['Experience'].fillna(df['Experience'].median()) # Median for experience
df['Per_score'].fillna(df['Per_score'].mode()[0]) # Mode for performance score
df['Age'].fillna(df['Age'].median()) # Median for age
df['Dept'].fillna(df['Dept'].mode()[0]) # Mode for department

0            IT
1            HR
2       Finance
3            IT
4       Finance
5            HR
6     Marketing
7            IT
8       Finance
9     Marketing
10           IT
11           HR
12      Finance
13    Marketing
14           IT
15           IT
16           HR
17           IT
18    Marketing
19      Finance
20           HR
21           IT
22    Marketing
23      Finance
24           HR
25           IT
26    Marketing
27      Finance
28           HR
29           IT
30    Marketing
31      Finance
32           HR
33           IT
34    Marketing
35      Finance
36           HR
37           IT
38    Marketing
39      Finance
40    Marketing
41           IT
42           IT
43           IT
44           IT
45           IT
46           HR
47           IT
Name: Dept, dtype: object

In [18]:
# Convert Joining_Date to datetime
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'], errors='coerce')

In [19]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [20]:
# Get the shape of the DataFrame (rows, columns)
df.shape

(44, 8)

In [22]:
# check the data type of each column
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 0 to 44
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Emp_ID        43 non-null     float64
 1   Name          43 non-null     object
 2   Age           44 non-null     float64
 3   Sal           44 non-null     float64
 4   Experience    44 non-null     float64
 5   Dept          44 non-null     object
 6   Joining_Date  43 non-null     datetime64[ns]
 7   Per_score     44 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 3.1+ KB
None

In [23]:
# Display first few rows
df.head()

,Emp_ID,Name,Age,Sal,Experience,Dept,Joining_Date,Per_score
0,101.0,John,25.0,50000.000000,2.0,IT,2019-06-15,85.0
1,102.0,Alice,30.0,60000.000000,5.0,HR,2018-04-22,90.0
2,103.0,Bob,35.0,64658.536585,10.0,Finance,2015-07-11,78.0
3,104.0,Eve,28.0,55000.000000,4.0,IT,2020-01-05,88.0
4,105.0,Mike,40.0,75000.000000,12.0,Finance,2010-09-18,92.0

In [24]:
# View the last 5 rows
df.tail()

,Emp_ID,Name,Age,Sal,Experience,Dept,Joining_Date,Per_score
39,140.0,Samuel,47.0,88000.000000,19.0,Finance,2005-11-08,96.0
40,141.0,Abigail,32.0,70000.000000,12.0,Marketing,2012-12-19,89.0
41,142.0,Samuel,47.0,88000.000000,19.0,IT,2005-11-08,96.0
42,NaN,NaN,32.0,64658.536585,8.0,IT,NaT,89.0
44,145.0,Logan,27.0,53000.000000,3.0,IT,2020-06-17,84.0